{%extends 'base.html'%}
{%block title-block%}
<title>movie-add</title>
{%endblock%}
{%block body_block%}
{%for m in messages%}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{m}}</strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {%endfor%}
welcome{{request.user}}

<h1 class="text-center">Add Doctor!!!</h1>

<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
<form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
    </div>
    <div class="col-4"></div>
</div>

{%endblock%}